<div class="aiz-main-wrapper d-flex flex-column position-relative  pt-6 pt-lg-6  bg-white">
    <div class="py-4 py-lg-5">
        <section class="py-5 bg-white plan" id="plans">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-xxl-6 mx-auto">
                        <div class="text-center pb-6">
                            <h2 class="fw-600 text-dark">Paid Membership</h2>
                            <div class="fs-16 fw-400">Choose any of our plans as per your need. You&#039;ll get your money back anytime if we&#039;re unable to satisfy your need.</div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center">
                    <div class="service-content" fxFlex="50%">
                        <p>wedlinematrimony.com is the Most Trusted Free Christian Matrimony site for Christian singles to find their suitable life partner from all over the world. A matrimony website managed by Catholic Priests since 1996. Create your free
                            Christian Matrimonial membership and find suitable partner today.</p>
                        <p>wedlinematrimony.com is the Most Trusted Free Christian Matrimony site for Christian singles to find their suitable life partner from all over the world. A matrimony website managed by Catholic Priests since 1996. Create your free
                            Christian Matrimonial membership and find suitable partner today.</p>
                        <ul>
                            <li>To understand what is wedlinematrimony.com.</li>
                            <li>To check the availability of Christian matching profiles through site</li>
                            <li>To confirm you are getting enough responses.</li>
                        </ul>
                        <button routerLink="/plans" type="button" class="btn btn-primary mt-4">Upgrade Now</button>
                    </div>
                    <div class="service-box-container" fxFlex="50%">
                        <div class="hi-icon-wrap hi-icon-effect-8">
                            <i class="fas fa-address-book hi-icon"></i>
                            <span>Contact Members Directly</span>
                            <i class="fas fa-envelope hi-icon"></i>
                            <span>Send Messages</span>
                            <i class="fas fa-question hi-icon"></i>
                            <span>Customer Support</span>
                            <i class="fas fa-tasks hi-icon"></i>
                            <span>Manage Dashboard</span>
                            <i class="fas fa-user hi-icon"></i>
                            <span>Verified Profiles</span>
                            <i class="fas fa-bell hi-icon"></i>
                            <span>Notifications</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>