<h1 mat-dialog-title>Image Editor</h1>
<mat-dialog-content class="mat-typography">
    <button (click)="rotateLeft()" class="btn btn-primary mr-2">Rotate left</button>
    <button (click)="rotateRight()" class="btn btn-primary mr-2">Rotate right</button>
    <button (click)="flipHorizontal()" class="btn btn-primary mr-2">Flip horizontal</button>
    <button (click)="flipVertical()" class="btn btn-primary mr-2">Flip vertical</button>
    <button (click)="resetImage()" class="btn btn-primary mr-2">Reset image</button>
    <br />
    <br />
    <input [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()" class="d-inline-block form-control w-25 mr-2" />
    <button (click)="zoomOut()" class="btn btn-primary mr-2">Zoom -</button>
    <button (click)="zoomIn()" class="btn btn-primary mr-2">Zoom +</button>


    <div fxLayout="row" fxLayoutAlign="space-between start">
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 5" [resizeToWidth]="200" [cropperMinWidth]="200" [onlyScaleDown]="true" [roundCropper]="false" [canvasRotation]="canvasRotation" [transform]="transform"
            [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)" (loadImageFailed)="loadImageFailed()"></image-cropper>

        <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
    </div>

</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <button type="button" class="btn sl-btn sl-btn-active" (click)="upload()">Upload</button>
    </div>
    <div>
        <button class="btn sl-btn sl-btn-outline" (click)="dismiss()">Cancel</button>
    </div>
</mat-dialog-actions>