<div class="aiz-main-wrapper d-flex flex-column position-relative  pt-8 pt-lg-10  bg-white">


    <section class="py-5 bg-white">
        <div class="container">
            <div class="d-flex align-items-start">
                <app-aside></app-aside>
                <div class="aiz-user-panel overflow-hidden">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div class="nav nav-tabs aiz-nav-tabs bottom-bordered active-white border-0">
                            <a class="text-black-50 d-inline-block fw-600 fs-15 px-3 py-2" [class.active]="isInbox" (click)="tabSwitcher('inbox')" href="javascript:void(0)">Inbox</a>
                            <a class="text-black-50 d-inline-block fw-600 fs-15 px-3 py-2" [class.active]="isSent" (click)="tabSwitcher('sent')" href="javascript:void(0)">Sent</a>
                            <a class="text-black-50 d-inline-block fw-600 fs-15 px-3 py-2" [class.active]="isImportant" (click)="tabSwitcher('important')" href="javascript:void(0)">Important</a>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <i class="las la-sync mr-4 cursor-pointer" style="font-size: 23px;color:grey" (click)="getMessages()" title="Refresh"></i>
                            <a href="javascript:void(0)" class="mb-0 h6 btn btn-primary" (click)="composeMessage(null)">Compose Message</a>
                        </div>
                    </div>
                    <mat-spinner [diameter]="30" class="m-auto" *ngIf="isSavingDetails"></mat-spinner>
                    <img *ngIf="isNoResults" class="d-block m-auto w-50" src="assets/public/assets/img/no_results_found.webp">
                    <div class="list-group mt-4" *ngIf="!isSavingDetails">
                        <button *ngFor="let result of results | paginate:config" type="button" class="list-group-item list-group-item-action" aria-current="true" (click)="readMessage(result)">
                          <div class="row align-items-center" *ngIf="!isSent">
                              <div class="col-1">
                                <i *ngIf="result.important_status == 'Yes'" class="las la-star" style="font-size: 20px;color:gold" (click)="toggleImportant(true,result.id,$event)"></i>
                                <i *ngIf="result.important_status == 'No'" class="lar la-star" style="font-size: 20px;color:gold" (click)="toggleImportant(false,result.id,$event)"></i>
                              </div>
                              <div class="col-1">
                                <span class="avatar avatar-sm mr-3 flex-shrink-0">
                                    <img src="{{result.member_photo[0]?result.member_photo[0].photo1:'assets/public/assets/img/admin-head.jpg'}}">
                                </span>
                              </div>
                              <div class="col-1" [class.text-bold]="result.read_status=='No'">{{result.sender}}</div>
                              <div class="col-5" [class.text-bold]="result.read_status=='No'">{{result.content | characterLimiter:50}}</div>
                              <div class="col-2"><small><i class="las la-clock"></i>{{result.sent_on | dateBeautifier}}</small></div>
                              <div class="col-1">
                                <i class="las la-reply" style="font-size: 20px;color:black" (click)="reply(result.sender,$event)"></i>
                              </div>
                              <div class="col-1">
                                <i class="las la-trash" style="font-size: 20px;color:red" (click)="deleteMessage(result.id,$event)"></i>
                              </div>
                          </div>
                          <div class="row align-items-center" *ngIf="isSent"> 
                            <div class="col-1">
                                <span class="avatar avatar-sm mr-3 flex-shrink-0">
                                    <img src="{{result.member_photo[0]?result.member_photo[0].photo1:'assets/public/assets/img/admin-head.jpg'}}">
                                </span>
                            </div>                          
                            <div class="col-1">{{result.receiver}}</div>
                            <div class="col-7">{{result.content | characterLimiter:60}}</div>
                            <div class="col-2"><small><i class="las la-clock"></i>{{result.sent_on | dateBeautifier}}</small></div>
                            <div class="col-1">
                                <i class="las la-trash" style="font-size: 20px;color:red" (click)="deleteMessage(result.id,$event)"></i>
                            </div>
                        </div>
                        </button>
                    </div>
                    <div class="aiz-pagination">
                        <pagination-controls (pageChange)="pageChange($event)" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel=""></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>