.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.flirting-section .img {
    text-align: center;
    padding: 0px 30px;
    position: relative;
}

.flirting-section .content {
    text-align: left;
}

.about-section .content .section-header {
    margin-bottom: 0px !important;
}

.section-header .sub-title {
    color: #5650ce;
    display: block;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 24px;
    font-weight: 600;
}

.section-header .title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 11px;
    display: block;
    color: #292929;
}


/* &&&&&&&&&&&&&& why choose us &&&&&&&&&&&&&&&& */

.w-c-u-section {
    padding: 118px 0px 120px;
    background: #f3f6fd;
}

.about-section {
    padding-top: 116px;
    padding-bottom: 116px;
}

.flirting-section {
    padding: 0px 0px 10px;
}

.align-self-center {
    align-self: center!important;
}

.flirting-section .content {
    text-align: left;
}

.about-section .content .section-header {
    margin-bottom: 0px !important;
}

.flirting-section .content .section-header {
    text-align: left;
    margin-bottom: 59px;
}

.w-c-u-section .content .section-header {
    margin-bottom: 40px;
}

.section-header {
    text-align: center;
    margin-bottom: 57px;
}

.section-header .sub-title {
    color: hsl(0, 78%, 55%);
    display: block;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 24px;
    font-weight: 600;
}

.section-header .title.extra-padding {
    margin-bottom: 21px;
}

.section-header .title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 11px;
    display: block;
    color: #292929;
}

.section-header .title22 {
    font-size: 28px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 11px;
    display: block;
    color: #292929;
}

.section-header .text {
    display: inline-block;
    color: #333333;
}

.single-w-c-u-box {
    background: #fff;
    padding: 40px 30px 20px;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.single-w-c-u-box .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 19px;
}

.membership-section {
    padding: 118px 0px 118px;
    overflow: hidden;
}

.pricing-plan-wrapper {
    margin-top: 0px;
    margin-bottom: -140px;
    position: relative;
    z-index: 9;
}

.single-plan {
    height: 100%;
    background: #fff;
    padding: 32px 30px 40px;
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 0px -11px 30px 0px rgba(112, 90, 186, 0.2);
    box-shadow: 0px -11px 30px 0px rgba(112, 90, 186, 0.2);
    position: relative;
    overflow: hidden;
}

.single-plan .duration {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 13px;
    margin-bottom: 27px;
    font-size: 16px;
}

.single-plan .stamet {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
}