<div class="text-left">

    <div class="aiz-main-wrapper d-flex flex-column position-relative  pt-8 pt-lg-10  bg-white">



        <div class="py-4 py-lg-5 mobile-no-padding">


            <!-- ==========Start-Flirting-Section========== -->
            <section class="flirting-section about-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="img">
                                <img src="assets/public/assets/img/about.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content">
                                <div class="section-header">
                                    <h6 class="sub-title">

                                    </h6>
                                    <h2 class="title22">
                                        Wedline Matrimony History
                                    </h2>
                                    <p>
                                        In day to day changing life the role of youth is very important to Christianity. The Perspective about marital life is also very important in Christianity. In teenage every teenager will start to imagine about their life partner. When they step into maturity
                                        it will be elaborated and become more colourful. These dreams are leading them to find suitable life partner. It is day difficult to a suitable partner now a day. So we,Wedline Matrimonial are always with you to
                                        find suitable Christian life partners to your beautiful life.
                                    </p>
                                    <br>
                                    <p class="mb-0">
                                        Each and everyone have elegant dream about their life partner's .By considering all the factors like wealth, beauty, life circumstances. We are here to find your most suitable life partner through Wedline matrimony. We entered in the heart of Cherupuzha
                                        on 2006 January 12. We can proudly say that we become a part of joining of many beautiful hearts with wedlock. Unlike other matrimonial agencies we are aiming to provide a suitable life partner who is leading best
                                        life with the teachings of holy family. With the grace of God we could be happy mind by executing many Christian marriages in our 15 years.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ==========Start-Flirting-Section========== -->

            <!-- ==========Membership-Section========== -->
            <section class="membership-section">
                <div class="container">


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pricing-plan-wrapper">

                                <div class="row">


                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-plan">
                                            <p class="duration">
                                                Our Vision
                                            </p>

                                            <p class="stamet">
                                                Our vision is a world where the search for a life-partner is as fulfilling as the journey with a soul-mate.
                                            </p>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-plan">
                                            <p class="duration">
                                                Our Mission
                                            </p>

                                            <p class="stamet">
                                                The mission of wedlinematrimony.com is to provide people with a superior matchmaking experience by expanding the opportunities available to meet potential life partners and build fulfilling relationships.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- ==========Membership-Section========== -->


            <!-- ========== w-c-u Section Starts ========== -->
            <section class="w-c-u-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="content">
                                <div class="section-header">
                                    <h6 class="sub-title">
                                        How We’re different
                                    </h6>
                                    <h2 class="title extra-padding">
                                        Why Choose Us?
                                    </h2>
                                    <p class="text">
                                        Wedlinematrimony.com team has the best Relationship Managers from the field, who will be available to you for offering assistance, so that you could make the right choice. We will always be there to help you until you find the perfect match. Our relationship
                                        managers will make it easier for you to take decisions and end up with the right life partner. Our users can get a wide range of profiles according to the preferences. Our dedicated customer care will always help
                                        to find your life partner.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="single-w-c-u-box">
                                <div class="icon">
                                    <img src="assets/public/assets/img/icon1.png" alt="">
                                </div>
                                <h4 class="title">
                                    Creating Profile
                                </h4>
                                <p>
                                    Our Relationship Manager will accquire all the information from the Bride/Groom including their personal and family data, social and financial status in formulating an appealing profile.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single-w-c-u-box">
                                <div class="icon">
                                    <img src="assets/public/assets/img/icon2.png" alt="">
                                </div>
                                <h4 class="title">
                                    Selecting Right Matches
                                </h4>
                                <p>
                                    Our Relationship Manager will select from thousands of profiles from our data bank meeting your specific requirements.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single-w-c-u-box">
                                <div class="icon">
                                    <img src="assets/public/assets/img/icon3.png" alt="">
                                </div>
                                <h4 class="title">
                                    Submission of Profile
                                </h4>
                                <p>
                                    The profiles with family details, Career details, financial status specially selected for you will be submitted for your persual and approval.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single-w-c-u-box">
                                <div class="icon">
                                    <img src="assets/public/assets/img/icon4.png" alt="">
                                </div>
                                <h4 class="title">
                                    Getting into Finale
                                </h4>
                                <p>
                                    Our Relationship Manager will organize and bring together both the parties for a face to face meeting for discussions at their convenient time and location.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ==========  w-c-u Section Starts ========== -->





        </div>


    </div>

</div>