<footer class="aiz-footer fs-13 mt-auto text-white fw-400 pt-2 bg-offwhite">
    <div class="container">

        <div class="row mb-4">
            <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10 text-center mx-auto">
                <div class="logo mb-1">
                    <a href="javascript:void(0)" class="d-inline-block" routerLink="/home">
                        <img src="assets/public/assets/img/beforeweddinglogo.png" alt="wedline Matrimony" class="mw-100" height="115">
                    </a>
                </div>
                <div class="text-dark">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human
                    happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
                </div>
            </div>
        </div>

        <div class="mb-4">
            <h4 class="text-uppercase text-primary fs-14 border-bottom border-primary pb-4 mb-4">CONTACT US</h4>
            <div class="row no-gutters">
                <div class="col-xl col-md-6 mb-4 text-dark">
                    <div class="mb-3 fw-600">
                        <i class="las la-home mr-2"></i>
                        <span>Address</span>
                    </div>
                    <div>Thattaparambil Shopping Complex Mele Bazar,<br> near South Indian Bank, Cherupuzha, <br>Kerala 670511</div>
                </div>
                <div class="col-xl col-md-6 mb-4 text-dark">
                    <div class="mb-3 fw-600">
                        <i class="las la-globe mr-2"></i>
                        <span>Website</span>
                    </div>
                    <div>www.wedlinematrimony.com</div>
                </div>
                <div class="col-xl col-md-6 mb-4 text-dark">
                    <div class="mb-3 fw-600">
                        <i class="las la-envelope mr-2"></i>
                        <span>Email</span>
                    </div>
                    <div><a href="javascript:void(0)" class="__cf_email__">info@wedlinematrimony.com</a></div>
                </div>
                <div class="col-xl col-md-6 mb-4 text-dark">
                    <div class="mb-3 fw-600">
                        <i class="las la-phone mr-2"></i>
                        <span>Phone</span>
                    </div>
                    <div>+91-9544588335</div>
                    <div>+91-9495778448</div>
                    <div>+91-49 852 42133</div>
                </div>
            </div>
        </div>

        <div class="row no-gutters text-dark">
            <div class="col-xl col-md-6 mb-4">
                <h4 class="text-uppercase text-primary fs-14 border-bottom border-primary pb-4 mb-4">MAIN MENU</h4>
                <div>
                    <ul class="list-unstyled">
                        <li class="my-3">
                            <a href="javascript:void(0)" routerLink="/home" class="text-reset">Home</a>
                        </li>
                        <li class="my-3">
                            <a href="javascript:void(0)" class="text-reset" [routerLink]="['/home']" fragment="how-it-works">How It Works</a>
                        </li>
                        <li class="my-3">
                            <a href="javascript:void(0)" class="text-reset" [routerLink]="['/home']" fragment="featured-members">Featured Members</a>
                        </li>
                        <li class="my-3">
                            <a href="javascript:void(0)" [routerLink]="['/plans']" class="text-reset">Plans</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl col-md-6 mb-4">
                <h4 class="text-uppercase text-primary fs-14 border-bottom border-primary pb-4 mb-4">QUICK LINKS</h4>
                <div>
                    <ul class="list-unstyled">
                        <li class="my-3">
                            <a href="javascript:void(0)" class="text-reset" routerLink="/search">Search</a>
                        </li>
                        <li class="my-3">
                            <a href="javscript:void(0)" class="text-reset" routerLink="/success-stories">Success Stories</a>
                        </li>
                        <li class="my-3">
                            <a href="javascript:void(0)" class="text-reset" routerLink="/about">About Us</a>
                        </li>
                        <li class="my-3">
                            <a href="javascript:void(0)" class="text-reset" routerLink="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl col-md-6 mb-4">
                <h4 class="text-uppercase text-primary fs-14 border-bottom border-primary pb-4 mb-4">USEFUL LINKS</h4>
                <div>
                    <ul class="list-unstyled">
                        <li class="my-3">
                            <a href="javscript:void(0)" class="text-reset">FAQ</a>
                        </li>
                        <li class="my-3">
                            <a href="javascript:void(0)" class="text-reset">Terms &amp; Conditions</a>
                        </li>
                        <li class="my-3">
                            <a href="javascript:void(0)" class="text-reset">Privacy Policy</a>
                        </li>
                        <!-- <li class="my-3">
                            <a href="https://demo.activeitzone.com/matrimonial/" class="text-reset">Request a Refund</a>
                        </li> -->
                    </ul>
                </div>
            </div>

            <div class="col-xl col-md-6 mb-4">
                <h4 class="text-uppercase text-primary fs-14 border-bottom border-primary pb-4 mb-4">Mobile</h4>
                <div class="mb-3">
                    <a href="javascript:void(0)">
                        <img src="https://demo.activeitzone.com/matrimonial/public/uploads/all/vr2RFTrdbxEawbPyG8suCNyMVEvr05lGIQ6MX1Nz.png" height="50">
                    </a>
                </div>
                <div class="mb-3">
                    <a href="javascript:void(0)">
                        <img src="https://demo.activeitzone.com/matrimonial/public/uploads/all/a1RdLfMfXtNqskauoZwEC94F8xAmbH16mhaGVHWh.png" height="50">
                    </a>
                </div>
            </div>
        </div>

        <div class="border-top border-primary pt-4 pb-7 pb-xl-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="lh-1">
                        <p class="text-dark">©2021 wedlinematrimony.com&nbsp; |&nbsp; &nbsp;made with <i class="las la-heart mr-2 text-danger"></i> <a href="#">Amaeka Technologies </a><br><br></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-left text-lg-right pr-5">
                        <ul class="list-inline social colored mb-0">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/Wedlinematrimony1" target="_blank" class="facebook"><i class="lab la-facebook-f"></i></a>
                            </li>
                            <!-- <li class="list-inline-item">
                                <a href="#" target="_blank" class="twitter"><i class="lab la-twitter"></i></a>
                            </li> -->
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/wedline_matrimony" target="_blank" class="instagram"><i class="lab la-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.youtube.com/channel/UCZosXhTiRnaLzfQoEmLmnkw" target="_blank" class="youtube"><i class="lab la-youtube"></i></a>
                            </li>
                            <!-- <li class="list-inline-item">
                                <a href="#" target="_blank" class="linkedin"><i class="lab la-linkedin-in"></i></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>

<div class="aiz-mobile-bottom-nav d-xl-none fixed-bottom bg-white shadow-lg border-top rounded-top" style="box-shadow: 0px -1px 10px rgb(0 0 0 / 15%)!important; ">
    <div class="row align-items-center gutters-5 text-center">
        <div class="col">
            <a href="javascript:void(0)" routerLink="/home" class="text-reset d-block flex-grow-1 text-center py-2">
                <i class="las la-home fs-18 opacity-100"></i>
                <span class="d-block fs-10 opacity-100 fw-600">Home</span>
            </a>
        </div>
        <div class="col" *ngIf="hasLoggedIn">
            <a href="javascript:void(0)" class="text-reset d-block flex-grow-1 text-center py-2">
                <span class="d-inline-block position-relative px-2">
                    <i class="las la-bell fs-18 "></i>
                                    </span>
                <span class="d-block fs-10 ">Notifications</span>
            </a>
        </div>
        <div class="col" *ngIf="hasLoggedIn">
            <a href="javscript:void(0)" routerLink="chat" class="text-reset d-block flex-grow-1 text-center py-2 ">
                <span class="d-inline-block position-relative px-2">
                  <i class="las la-comment-dots fs-18 "></i>
                                  </span>
                <span class="d-block fs-10 ">Messages</span>
            </a>
        </div>
        <div class="col" *ngIf="hasLoggedIn">
            <a href="javscript:void(0)" routerLink="/dashboard" class="text-reset d-block flex-grow-1 text-center py-2">
                <span class="d-block mx-auto mb-1 ">
                        <img src="assets/public/assets/img/avatar-place.png" class="rounded-circle size-20px">
                    </span>
                <span class="d-block fs-10 ">Account</span>
            </a>
        </div>
    </div>
</div>

<div class="aiz-cookie-alert shadow-xl">
    <div class="p-3 bg-dark rounded">
        <div class="text-white mb-3">
            <p><span style="color: rgb(27, 27, 40);">We use cookie for better user experence.</span><br></p>
        </div>
        <button class="btn btn-primary aiz-cookie-accepet">
            Ok. I Understood
        </button>
    </div>
</div>


<!-- <div class="modal fade" id="LoginModal">
    <div class="modal-dialog modal-dialog-zoom">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fw-600">Login</h6>
                <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true"></span>
        </button>
            </div>
            <div class="modal-body">
                <div class="p-3">
                    <form class="" method="POST" action="#">
                        <input type="hidden" name="_token" value="9uXpK5hLpQQcbXP6nArla8Z45x4f3MQI61ThWq9T">
                        <div class="form-group">
                            <input type="text" class="form-control " value="" placeholder="Email Or Phone" name="email" id="email">
                            <span class="opacity-60">Use country code before number</span>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" class="form-control " name="password" id="password" placeholder="********" required>
                        </div>

                        <div class="mb-3 text-right">
                            <a class="link-muted text-capitalize font-weight-normal" href="#">Forgot Password?</a>
                        </div>


                        <button type="submit" class="btn btn-block btn-primary">Login to your Account</button>

                    </form>
                    <div class="mb-4 mt-4">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td><a href="https://demo.activeitzone.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6d181e081f5f2d08150c001d0108430e0200">[email&#160;protected]</a></td>
                                    <td>12345678</td>
                                    <td><button class="btn btn-outline-primary btn-xs" onclick="autoFill1()">Copy</button></td>
                                </tr>
                                <tr>
                                    <td><a href="https://demo.activeitzone.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4732342235767007223f262a372b226924282a">[email&#160;protected]</a></td>
                                    <td>12345678</td>
                                    <td><button class="btn btn-outline-primary btn-xs" onclick="autoFill2()">Copy</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                    <div class="separator mb-3 mt-4">
                        <span class="bg-white px-3">Or Login With</span>
                    </div>
                    <ul class="list-inline social colored text-center mb-3">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=hjh&amp;redirect_uri=https%3A%2F%2Fdemo.activeitzone.com%2Fmatrimonial%2Fsocial-login%2Ffacebook%2Fcallback&amp;scope=email&amp;response_type=code&amp;state=WiXODcnTcwyf94I0otdTn0kJCuHomwQef8gFZkja"
                                class="facebook">
                                <i class="lab la-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="social-login/redirect/google" class="google">
                                <i class="lab la-google"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="social-login/redirect/twitter" class="twitter">
                                <i class="lab la-twitter"></i>
                            </a>
                        </li>
                    </ul>

                    <div class="text-center">
                        <p class="text-muted mb-0">Don&#039;t have an account?</p>
                        <a href="#">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="modal fade plan_update_alert_modal" id="modal-zoom">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom">
        <div class="modal-content plan_update_alert_modal_content">
            <div class="modal-body text-center">
                <h4 class="modal-title h6 mb-3">Please Update Your Plan.</h4>
                <hr>
                <a href="plans.html" class="btn btn-primary mt-2">Plan Purchase</a>
                <button type="button" class="btn btn-danger mt-2" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="modal fade account_status_change_modal" id="modal-zoom">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom">
        <div class="modal-content">
            <div class="modal-body text-center">
                <form class="form-horizontal member-block" action="https://demo.activeitzone.com/matrimonial/member/account-activation" method="POST">
                    <input type="hidden" name="_token" value="9uXpK5hLpQQcbXP6nArla8Z45x4f3MQI61ThWq9T"> <input type="hidden" name="deacticvation_status" id="deacticvation_status" value="">
                    <h4 class="modal-title h6 mb-3" id="confirmation_note" value=""></h4>
                    <hr>
                    <button type="submit" class="btn btn-primary mt-2">Yes</button>
                    <button type="button" class="btn btn-danger mt-2" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
<!-- <script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({
            xfbml: true,
            version: 'v3.3'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = '../../connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script> -->

<!-- <div id="fb-root"></div> -->


<!-- Your customer chat code -->
<!-- <div class="fb-customerchat" attribution=setup_tool page_id="25">
</div> -->



<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="fab" target="_blank">
    <i class="fab fa-whatsapp wedline-fab"></i>
</a>