<!-- <div class="position-fixed  w-100  z-1020 full-header" ngxHideOnScroll [propertyUsedToHide]="'top'" [valueWhenHidden]="'-300px'" [valueWhenShown]="'0px'"> -->

<div class="position-fixed  w-100  z-999 full-header">
    <div class="top-navbar bg-white z-1035 py-2 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col">
                    <ul class="list-inline d-flex justify-content-between justify-content-lg-start mb-0">
                        <li class="list-inline-item">

                        </li>
                    </ul>
                </div>
                <div class="col-lg-7 col">
                    <ul class="list-inline mb-0 d-flex align-items-center justify-content-end ">
                        <li class="list-inline-item mr-3 pr-3 border-right">
                            <a href="javascript:void(0)" class="text-reset opacity-60">
                                <span><i class="fas fa-certificate"></i></span>
                                <span>&nbsp;ISO 9001:2015 Certified</span>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3 pr-3 border-right">
                            <a href="tel:+91 9495778448" class="text-reset opacity-60">
                                <span><i class="fas fa-phone-alt"></i></span>
                                <span>+91 9495778448</span>
                            </a>
                        </li>
                        <li *ngIf="!hasLoggedIn" class="list-inline-item ml-1">
                            <a class="text-reset opacity-60" href="javascript:void(0)" routerLink="/login">Log In</a>
                        </li>
                        <li *ngIf="!hasLoggedIn" class="list-inline-item ml-3">
                            <a class="btn btn-sm bg-primary-grad text-white fw-600 py-1 border" routerLink="/register">Register Now</a>
                        </li>
                        <li *ngIf="hasLoggedIn&&profileStatus!='Subscribed'" class="list-inline-item ml-3">
                            <a class="btn btn-sm bg-primary-grad text-white fw-600 py-1 border" (click)="continueRegisterProcess()">Continue Registration</a>
                        </li>
                        <li *ngIf="hasLoggedIn&&profileStatus=='Subscribed'" class="list-inline-item dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle text-reset no-arrow p-5px" data-toggle="dropdown" data-display="static">
                                <i class="las la-bell fs-20 opacity-60"></i>
                                <span *ngIf="unreadNotificationCount > 0" class="badge badge-dot badge-sm badge-status no-border badge-primary"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg py-0">
                                <div class="p-3 border-bottom">
                                    <h6 class="mb-0">Notifications</h6>
                                </div>
                                <mat-spinner [diameter]="30" class="m-auto" *ngIf="isGettingNotifications"></mat-spinner>
                                <img *ngIf="isNoNotifications" class="d-block m-auto w-100" src="assets/public/assets/img/no_results_found.webp">
                                <div *ngIf="!isGettingNotifications" class="c-scrollbar-light" style="overflow-y:auto;max-height:300px;">
                                    <a href="javascript:void(0)" routerLink="/notifications" class="chat-user-item p-3 d-block text-inherit hov-bg-soft-primary" *ngFor="let notification of notifications">
                                        <div class="media" fxLayout="row" fxLayoutAlign="start">
                                            <span class="avatar avatar-sm mr-3 flex-shrink-0">
                                                <img src="{{notification.member_photo[0]?notification.member_photo[0].photo1:'assets/public/assets/img/admin-head.jpg'}}">
                                                <span *ngIf="notification.read_status=='No'" class="badge badge-dot badge-circle badge-secondary badge-status badge-md"></span>
                                            </span>
                                            <div class="w-100" fxLayout="column" fxLayoutAlign="start">
                                                <div class="media-body minw-0" fxLayout="row" fxLayoutAlign="space-between">
                                                    <h6 class="mt-0 mb-1 fs-14 text-truncate">
                                                        {{notification.sender}}
                                                    </h6>
                                                    <!-- <div class="fs-12 text-truncate opacity-60">Attachments
                                                </div> -->
                                                    <div class="ml-2 text-right">
                                                        <div class="opacity-60 fs-10 mb-1">{{notification.sent_on | dateBeautifier}}</div>
                                                    </div>
                                                </div>
                                                <small class="text-muted">{{notification.content}}</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="border-top">
                                    <a href="javascript:void(0)" routerLink="/notifications" class="btn text-reset btn-block">View All Notifications</a>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="hasLoggedIn&&profileStatus=='Subscribed'" class="list-inline-item dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle text-reset no-arrow p-5px" data-toggle="dropdown" data-display="static">
                                <i class="las la-envelope fs-20 opacity-60"></i>
                                <span *ngIf="unreadMessageCount > 0" class="badge badge-dot badge-sm badge-status no-border badge-primary"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg py-0">
                                <div class="p-3 border-bottom">
                                    <h6 class="mb-0">Messages</h6>
                                </div>
                                <mat-spinner [diameter]="30" class="m-auto" *ngIf="isGettingMessages"></mat-spinner>
                                <img *ngIf="isNoMessages" class="d-block m-auto w-100" src="assets/public/assets/img/no_results_found.webp">
                                <div *ngIf="!isGettingMessages" class="c-scrollbar-light" style="overflow-y:auto;max-height:300px;">
                                    <a href="javascript:void(0)" routerLink="/chat" class="chat-user-item p-3 d-block text-inherit hov-bg-soft-primary" *ngFor="let message of messages">
                                        <div class="media" fxLayout="row" fxLayoutAlign="start">
                                            <span class="avatar avatar-sm mr-3 flex-shrink-0">
                                                <img src="{{message.member_photo[0].photo1}}">
                                                <span *ngIf="message.read_status=='No'" class="badge badge-dot badge-circle badge-secondary badge-status badge-md"></span>
                                            </span>
                                            <div class="w-100" fxLayout="column" fxLayoutAlign="start">
                                                <div class="media-body minw-0" fxLayout="row" fxLayoutAlign="space-between">
                                                    <h6 class="mt-0 mb-1 fs-14 text-truncate">
                                                        {{message.sender}}
                                                    </h6>
                                                    <!-- <div class="fs-12 text-truncate opacity-60">Attachments
                                                </div> -->
                                                    <div class="ml-2 text-right">
                                                        <div class="opacity-60 fs-10 mb-1">{{message.sent_on | dateBeautifier}}</div>
                                                    </div>
                                                </div>
                                                <small class="text-muted">{{message.content | characterLimiter:35}}</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="border-top">
                                    <a href="javascript:void(0)" routerLink="/chat" class="btn text-reset btn-block">View All Messages</a>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="hasLoggedIn&&profileStatus=='Subscribed'" class="list-inline-item dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle text-reset no-arrow p-5px" data-toggle="dropdown" data-display="static">
                                <i class="las la-cog fs-20 opacity-60"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-md py-0">
                                <div class="c-scrollbar-light" style="overflow-y:auto;max-height:400px;">
                                    <a href="javascript:void(0)" [routerLink]="['/dashboard']" class="chat-user-item p-3 d-block text-inherit hov-bg-soft-primary border-bottom">
                                        <h6 class="mt-0 mb-1 fs-14 text-truncate">
                                            My Dashboard
                                        </h6>
                                    </a>
                                    <a href="javascript:void(0)" [routerLink]="['/profile-setting']" class="chat-user-item p-3 d-block text-inherit hov-bg-soft-primary border-bottom">
                                        <h6 class="mt-0 mb-1 fs-14 text-truncate">
                                            My Profile
                                        </h6>
                                    </a>
                                    <a href="javascript:void(0)" [routerLink]="['/dashboard']" fragment="current-plan" class="chat-user-item p-3 d-block text-inherit hov-bg-soft-primary border-bottom">
                                        <h6 class="mt-0 mb-1 fs-14 text-truncate">
                                            Current Plan
                                        </h6>
                                    </a>
                                    <a href="javascript:void(0)" [routerLink]="['/profile-setting']" [queryParams]="{show:'profile-pic'}" class="chat-user-item p-3 d-block text-inherit hov-bg-soft-primary border-bottom">
                                        <h6 class="mt-0 mb-1 fs-14 text-truncate">
                                            Profile Picture
                                        </h6>
                                    </a>
                                    <a href="javascript:void(0)" [routerLink]="['/profile-setting']" [queryParams]="{show:'gallery'}" class="chat-user-item p-3 d-block text-inherit hov-bg-soft-primary border-bottom">
                                        <h6 class="mt-0 mb-1 fs-14 text-truncate">
                                            My Gallery
                                        </h6>
                                    </a>
                                    <a href="javascript:void(0)" [routerLink]="['/privacy-settings']" class="chat-user-item p-3 d-block text-inherit hov-bg-soft-primary border-bottom">
                                        <h6 class="mt-0 mb-1 fs-14 text-truncate">
                                            Privacy Settings
                                        </h6>
                                    </a>
                                    <a href="javascript:void(0)" [routerLink]="['/change-password']" class="chat-user-item p-3 d-block text-inherit hov-bg-soft-primary">
                                        <h6 class="mt-0 mb-1 fs-14 text-truncate">
                                            Change Password
                                        </h6>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="hasLoggedIn&&profileStatus=='Subscribed'" class="list-inline-item mx-4">
                            <a href="javascript:void(0)" routerLink="/dashboard" class="d-flex align-items-center text-reset">
                                <img [src]="memberDetails.photo1" class="size-30px rounded-circle img-fit mr-2" onerror="this.onerror=null;this.src='http://localhost/matrimony-demo/assets/no_image.jpg';">
                                <span class="opacity-60 mr-1">
                            Hi,
                        </span>
                                <span class="text-primary-grad fw-700 text-capitalize">
                                    {{memberDetails.firstname}}
                        </span>
                            </a>
                        </li>
                        <li *ngIf="hasLoggedIn" class="list-inline-item">
                            <a href="javascript:void(0)" (click)="logout()" class="btn btn-sm bg-primary-grad text-white fw-600 py-1 border">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="aiz-header shadow-md bg-white border-gray-300">
        <div class="aiz-navbar position-relative">
            <div class="container">
                <div class="d-lg-flex justify-content-between text-center text-lg-left">
                    <div class="logo">
                        <a href="javascript:void(0)" routerLink="/home" class="d-inline-block py-15px negative-margin-setter">
                            <img src="assets/public/assets/img/beforeweddinglogo.png" alt="1234" class="mw-100 h-30px h-md-60px" height="40">
                        </a>
                    </div>
                    <ul class="mb-0 pl-0 ml-lg-auto d-lg-flex align-items-stretch justify-content-center justify-content-lg-start mobile-hor-swipe">

                        <li routerLinkActive="bg-primary-grad" class="d-inline-block d-lg-flex pb-1">
                            <a class="nav-link text-uppercase fw-700 fs-15 d-flex align-items-center bg-white py-2" routerLink="/home">
                                <span class="text-primary-grad mb-n1">Home</span>
                            </a>
                        </li>
                        <li routerLinkActive="bg-primary-grad" class="d-inline-block d-lg-flex pb-1 ">
                            <a class="nav-link text-uppercase fw-700 fs-15 d-flex align-items-center bg-white py-2" routerLink="/about">
                                <span class="text-primary-grad mb-n1">About</span>
                            </a>
                        </li>
                        <li routerLinkActive="bg-primary-grad" class="d-inline-block d-lg-flex pb-1 ">
                            <a class="nav-link text-uppercase fw-700 fs-15 d-flex align-items-center bg-white py-2" routerLink="/success-stories">
                                <span class="text-primary-grad mb-n1">Success Stories</span>
                            </a>
                        </li>
                        <li routerLinkActive="bg-primary-grad" class="d-inline-block d-lg-flex pb-1 dropdown cursor-pointer" id="serviceDropdown">
                            <a class="nav-link text-uppercase fw-700 fs-15 d-flex align-items-center bg-white py-2 dropdown-toggle" href="javascript:void(0)" id="serviceDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="text-primary-grad mb-n1">Services</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="serviceDropdown">
                                <li><a class="dropdown-item" href="javascript:void(0)" routerLink="/free-plan" routerLinkActive="active">Free Membership</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" routerLink="/paid-plan" routerLinkActive="active">Paid Membership</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" routerLink="/personalized-plan" routerLinkActive="active">Personalized Membership</a></li>
                            </ul>
                        </li>
                        <li routerLinkActive="bg-primary-grad" class="d-inline-block d-lg-flex pb-1 " *ngIf="hasLoggedIn&&profileStatus=='Subscribed'">
                            <a class="nav-link text-uppercase fw-700 fs-15 d-flex align-items-center bg-white py-2" routerLink="/plans">
                                <span class="text-primary-grad mb-n1">Plans</span>
                            </a>
                        </li>
                        <li routerLinkActive="bg-primary-grad" class="d-inline-block d-lg-flex pb-1" *ngIf="hasLoggedIn&&profileStatus=='Subscribed'">
                            <a class="nav-link text-uppercase fw-700 fs-15 d-flex align-items-center bg-white py-2" routerLink="/search">
                                <span class="text-primary-grad mb-n1">Search</span>
                            </a>
                        </li>
                        <li routerLinkActive="bg-primary-grad" class="d-inline-block d-lg-flex pb-1 ">
                            <a class="nav-link text-uppercase fw-700 fs-15 d-flex align-items-center bg-white py-2" routerLink="/contact">
                                <span class="text-primary-grad mb-n1">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="hasLoggedIn&&profileStatus=='Subscribed'" class="border-top d-none d-lg-block">
            <div class="container">
                <ul class="list-inline d-flex align-items-center mb-0">
                    <li class="list-inline-item">
                        <a routerLinkActive="text-primary-grad" routerLink="/dashboard" class="text-reset d-inline-block px-4 py-3 fw-600 opacity-100">
                            <i class="las la-tachometer-alt mr-1"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLinkActive="text-primary-grad" routerLink="/profile-setting" class="text-reset d-inline-block px-4 py-3 fw-600 ">
                            <i class="las la-user mr-1"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLinkActive="text-primary-grad" routerLink="/my-interest" class="text-reset d-inline-block px-4 py-3 fw-600 ">
                            <i class="lar la-star mr-1"></i>
                            <span>My Interest</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLinkActive="text-primary-grad" routerLink="/my-likes" class="text-reset d-inline-block px-4 py-3 fw-600 ">
                            <i class="la la-heart-o mr-1"></i>
                            <span>My Likes</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLinkActive="text-primary-grad" routerLink="/my-shortlist" class="text-reset d-inline-block px-4 py-3 fw-600 ">
                            <i class="las la-list mr-1"></i>
                            <span>Shortlist</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLinkActive="text-primary-grad" routerLink="/chat" class="text-reset d-inline-block px-4 py-3 fw-600 ">
                            <i class="las la-envelope mr-1"></i>
                            <span>Messaging</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a routerLinkActive="text-primary-grad" routerLink="/ignored-list" class="text-reset d-inline-block px-4 py-3 fw-600 ">
                            <i class="las la-ban mr-1"></i>
                            <span>Blocked</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>