<div class="text-left">

    <div class="aiz-main-wrapper d-flex flex-column position-relative  bg-white">
        <!-- Homepage Slider Section -->
        <section class="position-relative min-vh-100 d-flex home-slider-area">
            <div class="absolute-full">
                <div class="aiz-carousel aiz-carousel-full h-100" data-fade='true' data-infinite='true' data-autoplay='true'>
                    <img class="img-fit home-banner-img" src="assets/public/uploads/all/n6x1YZiGHc5AvVBB45JNnIAbXkQTqLf16bHMtwzu.png">
                    <img class="img-fit home-banner-img" src="assets/public/uploads/all/OkwfK3lo8BgrCkMuOA4NGeORw7g9ldcOp6ykrIeU.jpg">
                    <img class="img-fit home-banner-img" src="assets/public/uploads/all/cEOhVAwkzGE51HebB3Ky9CwQU3vLyKnW4DRMQ1mt.jpg">
                </div>
                <div class="absolute-full bg-white opacity-70 d-md-none"></div>
            </div>
            <div class="container position-relative d-flex flex-column">
                <div class="row pt-11 pb-8 my-auto">
                    <div class="col-xl-6 col-lg-8">
                        <div class="text-dark">
                            <h4><b>&nbsp; &nbsp; &nbsp; &nbsp; Every Love Story is&nbsp;</b></h4>
                            <h4></h4>
                            <h2><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Beautiful</b></h2>
                            <h3>
                                <font color="#fd2c79"><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Make Yours&nbsp;</b></font>
                            </h3>
                            <h4>
                                <font color="#fd2c79" style=""><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; Special</b></font>
                            </h4>
                        </div>
                    </div>
                </div>

                <!-- search  -->

                <div class="p-4 bg-white rounded mb-n5" style="box-shadow: 0 -25px 50px -12px rgb(0 0 0 / 25%);">
                    <div class="row">
                        <div class="col-xl-10 mx-auto">
                            <form action="javascript:void(0)" method="POST">
                                <div class="row gutters-5">
                                    <div class="col-lg">
                                        <div class="form-group mb-3">
                                            <label class="form-label" for="name">Matrimony Profile for</label>
                                            <select name="religion_id" id="religion_id" class="form-control aiz-selectpicker" title="gender">
                                                <option value="1"> Male </option>
                                                <option value="2"> Female </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg">
                                        <div class="form-group mb-3">
                                            <label class="form-label" for="name">Email</label>
                                            <input type="email" name="name" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-lg">
                                        <div class="form-group mb-3">
                                            <label class="form-label" for="name">Mobile Number</label>
                                            <input type="number" id="phone-code" class="form-control" value="" placeholder="" name="phone" autocomplete="off">

                                        </div>
                                    </div>

                                    <div class="col-lg">
                                        <button type="button" routerLink="/register" class="btn btn-block btn-primary mt-4">Register
                                            Free</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- about section 1 -->
        <section class="bg-offwhite py-7">
            <div class="container">
                <div class="row">

                    <div class="col-md-8">
                        <div class="text-center section-title mb-5">
                            <h2 class="fw-600 mb-3 text-dark tleft">About Wedline Matrimony</h2>
                            <p class="fw-400 fs-16 opacity-60 tleft">The mission of wedlinematrimony.com is to provide people with a superior matchmaking experience by expanding the opportunities available to meet potential life partners and build fulfilling relationships. We strive to do this
                                through superior technology, in-depth research, valuable matrimonial content & services, and above all the highest quality of customer service delivered with a sense of warmth, understanding, respect, and company spirit.</p>
                        </div>

                        <h5 class="fw-600 mb-3 text-dark tleft">Why Choose Wedline Matrimony</h5>
                        <ul class="list-group list-group-raw fs-15 mb-5 roundtick bg-offwhite">
                            <li class="list-group-item py-2 bg-offwhite">
                                <i class="las la la-check-circle text-success mr-2"></i> No.1 & most trusted matrimony service
                            </li>
                            <li class="list-group-item py-2 bg-offwhite">
                                <i class="las la la-check-circle text-success mr-2"></i> 100% verified mobile numbers
                            </li>
                            <li class="list-group-item py-2 bg-offwhite">
                                <i class="las la la-check-circle text-success mr-2"></i> Our largest number of profiles increases your chances of meeting the right person
                            </li>
                            <li class="list-group-item py-2 text-line-through bg-offwhite">
                                <i class="las la la-check-circle text-success mr-2"></i> Millions have found their life partner here
                            </li>
                            <li class="list-group-item py-2 text-line-through bg-offwhite">
                                <i class="las la la-check-circle text-success mr-2"></i> Trusted service for more than 21 years
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <div class="abt-img">
                            <img src="assets/public/assets/img/about.png" alt="1234" class="img-fluid lazyload ">
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- How It Works Section -->
        <section class="py-3 bg-white home-boxes">
            <div class="container">
                <div class="row gutters-10">
                    <div class="col-lg">
                        <div class="border p-3 mb-3 mt-3 box">
                            <div class=" row align-items-center">
                                <div class="col-7">
                                    <div class="text-primary fw-600 h1">1</div>
                                    <div class="text-secondary fs-20 mb-2 fw-600">Premium Service</div>
                                    <div class="fs-15 opacity-60">Register for free &amp; put up your Profile</div>
                                </div>
                                <div class="mt-3 col-5 text-right">
                                    <img src="assets/public/uploads/all/D8IvIuVZ1XgBEbW8WNygx6JM0G6AVPKohVaHyj7X.png" class="img-fluid h-80px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="border p-3 mb-3 mt-3 box">
                            <div class=" row align-items-center">
                                <div class="col-7">
                                    <div class="text-primary fw-600 h1">2</div>
                                    <div class="text-secondary fs-20 mb-2 fw-600">1-1 Service</div>
                                    <div class="fs-15 opacity-60">Select &amp; Connect with Matches you likee</div>
                                </div>
                                <div class="mt-3 col-5 text-right">
                                    <img src="assets/public/uploads/all/zxhwmcnXiCd5WUb8V4GBLb7VkvXuEl2DHFUUD2sk.png" class="img-fluid h-80px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="border p-3 mb-3 mt-3 box">
                            <div class=" row align-items-center">
                                <div class="col-7">
                                    <div class="text-primary fw-600 h1">3</div>
                                    <div class="text-secondary fs-20 mb-2 fw-600">Interact</div>
                                    <div class="fs-15 opacity-60">Become a Premium Member &amp; Start a Conversation
                                    </div>
                                </div>
                                <div class="mt-3 col-5 text-right">
                                    <img src="assets/public/uploads/all/bB4GZnLSrquYOKA3lbH0JI5WKWEwznwXNvjbAEEU.png" class="img-fluid h-80px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==========Member-slider-Section========== -->

        <section *ngIf="!isNoResultsFeatured" class="latest-registered-section">
            <img class="shape" src="assets/public/assets/img/shape.png" alt="">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="content">
                            <div class="section-header">
                                <h6 class="sub-title extra-padding wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                    Latest Registered
                                </h6>
                                <h2 class="title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                    Members
                                </h2>
                                <p class="text">
                                    if you have been looking for the someone special of your life for long, then your search ends here
                                </p>
                            </div>
                            <a href="javascript:void(0)" routerLink="/register" class="custom-button">Join Now !</a>
                        </div>
                    </div>
                    <div class="col-xl-6 align-self-center">
                        <mat-spinner [diameter]="30" class="m-auto" *ngIf="isGettingFeatured"></mat-spinner>
                        <div class="registered-slider" *ngIf="!isGettingFeatured">

                            <swiper [slidesPerView]="4" [loop]="true" [autoplay]="{
                                delay: 2500,
                                disableOnInteraction: false 
                            }">

                                <ng-template *ngFor="let result of featuredMembers" swiperSlide>
                                    <div class="single-slider cursor-pointer" routerLink="/full-profile/{{result.id | base64Encode}}">
                                        <div class="img">
                                            <img src="{{result.photo1}}" onerror="this.onerror=null;this.src='https://demo.activeitzone.com/matrimonial/public/assets/img/avatar-place.png';" alt="">
                                        </div>
                                        <div class="inner-content">
                                            <h4 class="name">
                                                {{result.matri_id}}
                                            </h4>
                                        </div>
                                    </div>
                                </ng-template>
                            </swiper>


                        </div>



                    </div>
                </div>
            </div>
        </section>



        <!-- ==========Member-slider-Section========== -->


        <section class="py-5 bg-white plan" id="packages">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-xxl-6 mx-auto">
                        <div class="text-center pb-6">
                            <h2 class="fw-600 text-dark">Packages</h2>
                            <div class="fs-16 fw-400">Choose any of our packages as per your need. You&#039;ll get your money back anytime if we&#039;re unable to satisfy your need.</div>
                        </div>
                    </div>
                </div>
                <swiper [pagination]="pagination" [slidesPerView]="3" [slidesPerGroup]="3" [loop]="true" [loopFillGroupWithBlank]="true" [autoplay]="{
                    delay: 2500,
                    disableOnInteraction: false
                  }" class="myPackageSwiper">
                    <ng-template swiperSlide>
                        <div class="carousel-box">
                            <div class="overflow-hidden shadow-none mb-3 border-right">
                                <div class="card-body">
                                    <div class="text-center mb-4 mt-3">
                                        <img class="mw-100 mx-auto mb-4" src="assets/public/uploads/all/zzOHNo1lfGayWCnT9xK1xHB8VjkAzOSnb14ibeup.png" height="130">
                                        <h5 class="mb-3 h5 fw-600">Bronze Package</h5>
                                    </div>
                                    <ul class="list-group list-group-raw fs-15 mb-5">
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 10 Express Interests
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 10 Galley Photo Upload
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 5 Contact Info view
                                        </li>
                                        <li class="list-group-item py-2 text-line-through">
                                            <i class="las la la-check-circle text-success mr-2"></i> Show Auto Profile Match
                                        </li>
                                    </ul>
                                    <div class="mb-5 text-dark text-center">
                                        <span class="display-4 fw-600 lh-1 mb-0">10,00INR</span>
                                        <span class="text-secondary d-block">5 Days</span>
                                    </div>
                                    <div class="text-center mb-3">
                                        <button type="submit" onclick="loginModal()" class="btn btn-primary">Purchase This
                                            Package</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>

                        <div class="carousel-box">
                            <div class="overflow-hidden shadow-none mb-3 border-right">
                                <div class="card-body">
                                    <div class="text-center mb-4 mt-3">
                                        <img class="mw-100 mx-auto mb-4" src="assets/public/uploads/all/UIOcsIe8TMVx6Rp7Wbx9ig5kw6X2g2rSxKUNsPNQ.png" height="130">
                                        <h5 class="mb-3 h5 fw-600">Silver Package</h5>
                                    </div>
                                    <ul class="list-group list-group-raw fs-15 mb-5">
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 20 Express Interests
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 15 Galley Photo Upload
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 10 Contact Info view
                                        </li>
                                        <li class="list-group-item py-2 text-line-through">
                                            <i class="las la la-check-circle text-success mr-2"></i> Show Auto Profile Match
                                        </li>
                                    </ul>
                                    <div class="mb-5 text-dark text-center">
                                        <span class="display-4 fw-600 lh-1 mb-0">25,00INR</span>
                                        <span class="text-secondary d-block">60 Days</span>
                                    </div>
                                    <div class="text-center mb-3">
                                        <button type="submit" onclick="loginModal()" class="btn btn-primary">Purchase This
                                            Package</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="carousel-box">
                            <div class="overflow-hidden shadow-none mb-3 border-right">
                                <div class="card-body">
                                    <div class="text-center mb-4 mt-3">
                                        <img class="mw-100 mx-auto mb-4" src="assets/public/uploads/all/RMTKXAZIB1cN2RA8GLgbhs8DmGl0qj01ACRlEFCG.png" height="130">
                                        <h5 class="mb-3 h5 fw-600">Gold Package</h5>
                                    </div>
                                    <ul class="list-group list-group-raw fs-15 mb-5">
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 25 Express Interests
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 20 Galley Photo Upload
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 15 Contact Info view
                                        </li>
                                        <li class="list-group-item py-2 text-line-through">
                                            <i class="las la la-check-circle text-success mr-2"></i> Show Auto Profile Match
                                        </li>
                                    </ul>
                                    <div class="mb-5 text-dark text-center">
                                        <span class="display-4 fw-600 lh-1 mb-0">35,00INR</span>
                                        <span class="text-secondary d-block">75 Days</span>
                                    </div>
                                    <div class="text-center mb-3">
                                        <button type="submit" onclick="loginModal()" class="btn btn-primary">Purchase This
                                            Package</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>

                        <div class="carousel-box">
                            <div class="overflow-hidden shadow-none mb-3 border-right">
                                <div class="card-body">
                                    <div class="text-center mb-4 mt-3">
                                        <img class="mw-100 mx-auto mb-4" src="assets/public/uploads/all/zzOHNo1lfGayWCnT9xK1xHB8VjkAzOSnb14ibeup.png" height="130">
                                        <h5 class="mb-3 h5 fw-600">Bronze Package</h5>
                                    </div>
                                    <ul class="list-group list-group-raw fs-15 mb-5">
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 10 Express Interests
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 10 Galley Photo Upload
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 5 Contact Info view
                                        </li>
                                        <li class="list-group-item py-2 text-line-through">
                                            <i class="las la la-check-circle text-success mr-2"></i> Show Auto Profile Match
                                        </li>
                                    </ul>
                                    <div class="mb-5 text-dark text-center">
                                        <span class="display-4 fw-600 lh-1 mb-0">10,00INR</span>
                                        <span class="text-secondary d-block">5 Days</span>
                                    </div>
                                    <div class="text-center mb-3">
                                        <button type="submit" onclick="loginModal()" class="btn btn-primary">Purchase This
                                            Package</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="carousel-box">
                            <div class="overflow-hidden shadow-none mb-3 border-right">
                                <div class="card-body">
                                    <div class="text-center mb-4 mt-3">
                                        <img class="mw-100 mx-auto mb-4" src="assets/public/uploads/all/UIOcsIe8TMVx6Rp7Wbx9ig5kw6X2g2rSxKUNsPNQ.png" height="130">
                                        <h5 class="mb-3 h5 fw-600">Silver Package</h5>
                                    </div>
                                    <ul class="list-group list-group-raw fs-15 mb-5">
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 20 Express Interests
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 15 Galley Photo Upload
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 10 Contact Info view
                                        </li>
                                        <li class="list-group-item py-2 text-line-through">
                                            <i class="las la la-check-circle text-success mr-2"></i> Show Auto Profile Match
                                        </li>
                                    </ul>
                                    <div class="mb-5 text-dark text-center">
                                        <span class="display-4 fw-600 lh-1 mb-0">25,00INR</span>
                                        <span class="text-secondary d-block">60 Days</span>
                                    </div>
                                    <div class="text-center mb-3">
                                        <button type="submit" onclick="loginModal()" class="btn btn-primary">Purchase This
                                            Package</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="carousel-box">
                            <div class="overflow-hidden shadow-none mb-3 border-right">
                                <div class="card-body">
                                    <div class="text-center mb-4 mt-3">
                                        <img class="mw-100 mx-auto mb-4" src="assets/public/uploads/all/RMTKXAZIB1cN2RA8GLgbhs8DmGl0qj01ACRlEFCG.png" height="130">
                                        <h5 class="mb-3 h5 fw-600">Gold Package</h5>
                                    </div>
                                    <ul class="list-group list-group-raw fs-15 mb-5">
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 25 Express Interests
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 20 Galley Photo Upload
                                        </li>
                                        <li class="list-group-item py-2">
                                            <i class="las la la-check-circle text-success mr-2"></i> 15 Contact Info view
                                        </li>
                                        <li class="list-group-item py-2 text-line-through">
                                            <i class="las la la-check-circle text-success mr-2"></i> Show Auto Profile Match
                                        </li>
                                    </ul>
                                    <div class="mb-5 text-dark text-center">
                                        <span class="display-4 fw-600 lh-1 mb-0">35,00INR</span>
                                        <span class="text-secondary d-block">75 Days</span>
                                    </div>
                                    <div class="text-center mb-3">
                                        <button type="submit" onclick="loginModal()" class="btn btn-primary">Purchase This
                                            Package</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </section>

        <!-- ==========Features-Section========== -->
        <section class="feature-section bg-offwhite pt-6 pb-6">

            <div class="main-content-area">
                <div class="left-image">
                    <div class="offer">
                        <div class="offer-inner-content">
                            <span class="fs">START NOW FOR</span>
                            <h2>
                                FREE
                            </h2>
                            <span class="ss">7 DAY TRIAL</span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-5">
                            <div class="feature-lists">
                                <div class="single-feature-list wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="icon">
                                        <img src="assets/public/assets/img/feature/i1.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">
                                            Simple to use
                                        </h4>
                                        <p>
                                            Simple steps to follow to have a matching connection.
                                        </p>
                                    </div>
                                </div>
                                <div class="single-feature-list wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon">
                                        <img src="assets/public/assets/img/feature/i2.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">
                                            Smart Matching
                                        </h4>
                                        <p>
                                            Simple steps to follow to have a matching connection.
                                        </p>
                                    </div>
                                </div>
                                <div class="single-feature-list wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="icon">
                                        <img src="assets/public/assets/img/feature/i3.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">
                                            Filter very fast
                                        </h4>
                                        <p>
                                            Simple steps to follow to have a matching connection.
                                        </p>
                                    </div>
                                </div>
                                <div class="single-feature-list wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="icon">
                                        <img src="assets/public/assets/img/feature/i4.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h4 class="title">
                                            Cool community
                                        </h4>
                                        <p>
                                            Simple steps to follow to have a matching connection.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==========Features-Section========== -->

        <!-- ==========Success-Stories-Section========== -->
        <section class="home2-sucess-stories-section" *ngIf="!isNoResultsStory">
            <div class="top-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-header white-color">
                                <h6 class="sub-title wow fadeInUp">
                                    Love in faith
                                </h6>
                                <h2 class="title wow fadeInUp">
                                    Success Stories
                                </h2>
                                <p class="text wow fadeInUp">
                                    Aliquam a neque tortor. Donec iaculis auctor turpis. Eporttitor mattis ullamcorper urna. Cras quis elementum
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container bottom-content mb-5">
                <mat-spinner [diameter]="30" class="m-auto" *ngIf="isGettingStory"></mat-spinner>
                <div *ngIf="!isGettingStory">
                    <swiper [slidesPerView]="3" [loop]="true" [autoplay]="{
                        delay: 2500,
                        disableOnInteraction: false 
                    }">
                        <ng-template *ngFor="let result of stories" swiperSlide>
                            <div class="single-story-box wow fadeInUp">
                                <div class="img">
                                    <img class="success-cover-img w-100" src="https://demoweblinks.in/matrimony-demo/assets/success-story/{{result.weddingphoto}}" onerror="this.onerror=null;this.src='https://demo.activeitzone.com/matrimonial/public/assets/img/avatar-place.png';" alt="">
                                </div>
                                <div class="content">
                                    <!-- <div class="author">
                                    <img src="assets/public/assets/img/sucess/p1.png" alt="">
                                    <span></span>
                                </div> -->
                                    <h4 class="title">
                                        {{result.successmessage | characterLimiter : 40}}
                                    </h4>
                                    <p class="date">
                                        {{result.marriagedate | dateBeautifier}}
                                    </p>
                                </div>
                                <div class="box-footer" fxLayout="row">
                                    <!-- <div class="left">
                                    <ul class="box-social-links">
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div> -->
                                    <div class="left" fxFlex="70">
                                        <h4 class="text-truncate-fade text-truncate position-relative" style="max-width: 97%;">{{result.bridename}} & {{result.groomname}}</h4>
                                    </div>
                                    <div class="right" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
                                        <a href="javascript:void(0)" routerLink="/success-story/{{result.id}}">
                                        Read More<i class="fas fa-arrow-right"></i>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </section>
        <!-- ==========Success-Stories-Section========== -->

    </div>

</div>