<div class="aiz-main-wrapper d-flex flex-column position-relative  pt-6 pt-lg-6  bg-white">
    <div class="py-4 py-lg-5">
        <section class="py-5 bg-white plan" id="plans">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-xxl-6 mx-auto">
                        <div class="text-center pb-6">
                            <h2 class="fw-600 text-dark">Privacy Policy</h2>
                        </div>
                    </div>
                </div>
                <div>
                    <p>WedlineMatrimony.com is an online matrimonial website endeavoring constantly to provide you with quality matrimonial services. This privacy statement is common to all WedlineMatrimony.com customers. Since we are strongly committed
                        to your right to privacy, we have drawn out a privacy statement with regard to the information we collect from you.</p>
                    <p>To register on the website you will be required to provide certain personal information. This information includes (but is not limited to) data that specifically identifies an individual, such as a user name, name, address, telephone
                        number, e-mail address, religion, caste, gender, photos, employment details, income details, family background, physical and health data etc. Please refer to FAQ section to identify the information that will be available to all
                        users of the website and that which will be available only to those registered with our website.</p>
                    <p>By using the services you acknowledge that:</p>
                    <ul class="list-style-none">
                        <li>
                            <p>(a) we cannot ensure the security privacy of information you provide through the Internet and your email messages, and you release us from any and all liability in connection with the use of such information by other parties;</p>
                        </li>
                        <li>
                            <p>(b) we are not responsible for, and cannot control, the use by others of any information which you provide to them and you should use caution in selecting the personal information you provide to others through the Service;</p>
                        </li>
                        <li>
                            <p>(c) we cannot assume any responsibility for the content of messages sent by other users of the service, and you release us from any and all liability in connection with the contents of any communications you may receive from
                                other users. We cannot guarantee, and assume no responsibility for verifying, the accuracy of the information provided by other users of the service regarding particulars of status, age, income of other members. Your membership
                                is only for personal use. It is not to be assigned, transferred or licensed so as to be used by any other person/entity.</p>
                        </li>
                    </ul>
                    <p>The website uses cookies to track usage of the path of a user, to collect site statistical information and improve your customer experience. Since most web browsers automatically accept cookies, you can edit your browser options to
                        block them if you does not want the website to use cookies to track usage of the path. We offer you choices when we ask for personal information, whenever reasonably possible. You may decline to provide personal information to
                        us and/or refuse cookies in your browser, although please be aware that some of our features or services may not function properly as a result. You will have access to your personal information posted on our website and you may
                        edit, delete or modify the same from time to time.</p>
                    <p>Our servers may also automatically collect information about your computer when you visit the website, including but not limited to the type of browser software and version you use, the operating system and platform you are running,
                        the website that referred you to us, your IP or internet protocol address used to connect your computer to the Internet, average time spent on our site, pages viewed, information searched for, access times, and other relevant information
                        about your online experience.</p>
                    <p>By using the WedlineMatrimony.com, you agree to receive certain specific email from the website relating to your membership or any alerts of any activity on the site or those of content promotion on the site.</p>
                    <p>User understands that the institution does not guarantee any confidentiality with respect to your content (including any personal information) other than as specified in the Privacy and Security Policy. All visitors to our site may
                        browse the site, search the ads and view any articles or features our site has to offer without entering any personal information or paying money. As a paid member of this site, you have the privilege to contact ten profiles in
                        a single day.</p>

                    <h6 class="text-dark">Shipping</h6>
                    <p>Wedline Matrimony have no shipping on product pirchase as product delivered at the same time of purchase.</p>
                    <h6 class="text-dark">Cancellations</h6>
                    <p>Wedline Matrimony users can use the basic services for free, with out any payment, only addon features are requested to be paid, so the site doesnt have any cancellation on additional service payment by customers.</p>
                    <h6 class="text-dark">Refunds</h6>
                    <p>Wedline Matrimony users can use the basic services for free, with out any payment, only addon features are requested to be paid, so the site doesnt have any refund on additional service payment by customers.</p>
                </div>
            </div>
        </section>
    </div>
</div>