<div class="aiz-main-wrapper d-flex flex-column position-relative  pt-6 pt-lg-6  bg-white">
    <div class="py-4 py-lg-5">
        <section class="py-5 bg-white plan" id="packages">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-xxl-6 mx-auto">
                        <div class="text-center pb-6">
                            <h2 class="fw-600 text-dark">Packages</h2>
                            <div class="fs-16 fw-400">Choose any of our packages as per your need. You&#039;ll get your money back anytime if we&#039;re unable to satisfy your need.</div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <mat-spinner [diameter]="30" class="m-auto" [hidden]="showSpinner"></mat-spinner>
                    <div class="carousel-box" *ngFor="let package of packages">
                        <div class="overflow-hidden shadow-none mb-3">
                            <div class="card-body">
                                <div class="text-center mb-4 mt-3">
                                    <img class="mw-100 mx-auto mb-4" src="assets/public/uploads/all/RMTKXAZIB1cN2RA8GLgbhs8DmGl0qj01ACRlEFCG.png" height="130">
                                    <h5 class="mb-3 h5 fw-600">{{package.plan_name}} Package</h5>
                                </div>
                                <ul class="list-group list-group-raw fs-15 mb-5">
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> Express Interests
                                    </li>
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> 4 Gallery Photo Upload
                                    </li>
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> {{package.plan_msg}} Messages
                                    </li>
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> {{package.profile}} Profile Info View
                                    </li>
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> {{package.plan_contacts}} Contact Info View
                                    </li>
                                    <li class="list-group-item py-2 text-line-through">
                                        <i class="las la la-check-circle text-success mr-2"></i> Show Auto Profile Match
                                    </li>
                                </ul>
                                <div class="mb-5 text-dark text-center">
                                    <span class="display-4 fw-600 lh-1 mb-0">{{package.plan_amount}} {{package.plan_amount_type}}</span>
                                    <span class="text-secondary d-block">{{package.plan_duration}} Days</span>
                                </div>
                                <div class="text-center mb-3">
                                    <button type="submit" class="btn btn-primary" (click)="choosePackage(package)">Purchase This
                                            Package</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>