<div class="aiz-main-wrapper d-flex flex-column position-relative  pt-6 pt-lg-6  bg-white">
    <div class="py-4 py-lg-5">
        <section class="py-5 bg-white plan" id="plans">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-xxl-6 mx-auto">
                        <div class="text-center pb-4">
                            <h2 class="fw-600 text-dark">Plans</h2>
                            <div class="fs-16 fw-400">Choose any of our plans as per your need. You&#039;ll get your money back anytime if we&#039;re unable to satisfy your need.</div>
                            <button class="plan-skip-btn mt-3" (click)="skip()" *ngIf="hasLoggedIn&&profileStatus=='Started'">
                                <svg width="180px" height="60px" viewBox="0 0 180 60">
                                  <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                                  <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                                </svg>
                                <span>SKIP&nbsp;<i class="fas fa-forward"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <mat-spinner [diameter]="30" class="m-auto" [hidden]="showSpinner"></mat-spinner>
                    <div class="carousel-box" *ngFor="let plan of plans">
                        <div class="overflow-hidden shadow-none mb-3">
                            <div class="card-body">
                                <div class="text-center mb-4 mt-3">
                                    <img class="mw-100 mx-auto mb-4" src="assets/public/uploads/all/RMTKXAZIB1cN2RA8GLgbhs8DmGl0qj01ACRlEFCG.png" height="130">
                                    <h5 class="mb-3 h5 fw-600">{{plan.plan_name}} Plan</h5>
                                </div>
                                <ul class="list-group list-group-raw fs-15 mb-5">
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> Express Interests
                                    </li>
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> 4 Gallery Photo Upload
                                    </li>
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> {{plan.plan_msg}} Messages
                                    </li>
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> {{plan.profile}} Profile Info View
                                    </li>
                                    <li class="list-group-item py-2">
                                        <i class="las la la-check-circle text-success mr-2"></i> {{plan.plan_contacts}} Contact Info View
                                    </li>
                                    <li class="list-group-item py-2 text-line-through">
                                        <i class="las la la-check-circle text-success mr-2"></i> Show Auto Profile Match
                                    </li>
                                </ul>
                                <div class="mb-5 text-dark text-center">
                                    <span class="display-4 fw-600 lh-1 mb-0">{{plan.plan_amount}} {{plan.plan_amount_type}}</span>
                                    <span class="text-secondary d-block">{{plan.plan_duration}} Days</span>
                                </div>
                                <div class="text-center mb-3">
                                    <button type="submit" class="btn btn-primary" (click)="choosePlan(plan)">Purchase This
                                            Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>