<div class="aiz-main-wrapper d-flex flex-column position-relative  pt-8 pt-lg-10  bg-white">


    <section class="py-5 bg-white">
        <div class="container">
            <div class="d-flex align-items-start">
                <app-aside></app-aside>
                <div class="aiz-user-panel overflow-hidden">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0 h6">Blocked Members</h5>
                        </div>
                        <div class="card-body">
                            <mat-spinner [diameter]="30" class="m-auto" *ngIf="isSavingDetails"></mat-spinner>
                            <table class="table aiz-table mb-0" *ngIf="!isSavingDetails">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Image</th>
                                        <!-- <th>Name</th> -->
                                        <th>Age</th>
                                        <th>Caste</th>
                                        <th>Location</th>
                                        <th>Blocked On</th>
                                        <th class="text-right">Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let result of results | paginate:config">
                                        <td class="cursor-pointer" routerLink="/full-profile/{{result.user_id | base64Encode}}">{{result.matri_id}}</td>
                                        <td class="cursor-pointer" routerLink="/full-profile/{{result.user_id | base64Encode}}">
                                            <span class="avatar avatar-sm mr-3 flex-shrink-0">
                                                <img src="{{result.photo1}}" onerror="this.onerror=null;this.src='assets/public/assets/img/admin-head.jpg';" alt="Photo">
                                            </span>
                                        </td>
                                        <!-- <td>{{result.firstname}} {{result.lastname}}</td> -->
                                        <td>{{result.age}}</td>
                                        <td>
                                            {{result.caste_name}}
                                        </td>
                                        <td>
                                            {{result.city_name}}{{result.state_name?', '+result.state_name:''}}
                                        </td>
                                        <td>
                                            {{result.created_on | dateBeautifier}}
                                        </td>
                                        <td class="text-right">
                                            <!-- <a href="avascript:void(0);" class="btn btn-soft-success btn-icon btn-circle btn-sm" title="Interest Expressed">
                                                <i class="las la-heart"></i>
                                            </a> -->
                                            <!-- <a onclick="remove_from_ignored_list(30)" class="btn btn-soft-success btn-icon btn-circle btn-sm" title="Remove From Ignore List">
                                                <i class="las la-check"></i>
                                            </a> -->
                                            <a class="btn btn-soft-danger btn-icon btn-circle btn-sm" title="Unblock" (click)="unblock(result.matri_id)">
                                                <i class="las la-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <img *ngIf="isNoResults" class="d-block m-auto w-50" src="assets/public/assets/img/no_results_found.webp">
                            <div class="aiz-pagination">
                                <pagination-controls (pageChange)="pageChange($event)" [autoHide]="true" [responsive]="true" previousLabel="" nextLabel=""></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>