<div class="aiz-main-wrapper d-flex flex-column position-relative  pt-8 pt-lg-10  bg-white">
    <section class="py-5 bg-white">
        <div class="container">
            <div class="d-flex align-items-start">
                <app-aside></app-aside>
                <div class="aiz-user-panel overflow-hidden">
                    <!-- Change Password -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0 h6">Change Password</h5>
                        </div>
                        <div class="card-body">
                            <form action="javascript:void(0)" method="POST" [formGroup]="changePasswordForm">
                                <label for="old_pass">Old Password
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="password" name="old_pass" formControlName="old_pass" class="form-control mb-3" placeholder="Old Password">
                                <label for="new_pass">New Password
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="password" name="new_pass" formControlName="new_pass" class="form-control mb-3" placeholder="New Password">
                                <label for="cnfm_pass">Confirm Password
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="password" name="cnfm_pass" formControlName="cnfm_pass" class="form-control mb-3" placeholder="Confirm Password">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary btn-sm" (click)="changePassword()" *ngIf="!isSavingDetails">Change</button>
                                </div>
                                <mat-spinner [diameter]="30" class="m-auto" *ngIf="isSavingDetails">
                                </mat-spinner>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>