.tabpr {
    padding-left: 1px;
}

.accordion-button:focus,
.accordion-button:active,
.accordion-button:not(.collapsed) {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: black;
}

.form-check-input {
    margin-top: 0.25em;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.text-cutter {
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
}