<div class="aiz-main-wrapper d-flex flex-column position-relative  pt-6 pt-lg-6  bg-white">
    <div class="py-4 py-lg-5">
        <section class="py-5 bg-white plan" id="plans">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-xxl-6 mx-auto">
                        <div class="text-center pb-6">
                            <h2 class="fw-600 text-dark">Terms And Conditions</h2>
                        </div>
                    </div>
                </div>
                <div>
                    <p>We welcome you to Wedlinematrimony.com.We request you to review these Conditions of Us. To become a member of Wedlinematrimony.com service, you must read and accept all of the terms and conditions of this agreement and the Privacy
                        Policy. If you do not agree to be bound by the terms after you read this agreement, you may not use the Wedlinematrimony.com service. You agree that we may modify the terms of this agreement or the Privacy Policy, in our sole discretion,
                        by posting amended terms to this Website. Your continued use of the service indicates your acceptance of the amended terms of service agreement.</p>
                    <h6 class="text-dark">1. The Service</h6>
                    <p>The Service is provided by wedlinematrimony.com and you understand and agree to the following:</p>
                    <ul class="list-style-none">
                        <li>
                            <p>(a) if you choose to register, you must submit a valid e-mail address and select a password and user name during the registration process.</p>
                        </li>
                        <li>
                            <p>(b) You are responsible for maintaining the confidentiality of your member name and password, and all uses of your account -- whether or not you've authorized such use.</p>
                        </li>
                        <li>
                            <p>(c) You agree to notify wedlinematrimony.com immediately of any unauthorized use of your account.</p>
                        </li>
                        <li>
                            <p>(d) You are at least 18 years of age.</p>
                        </li>
                        <li>
                            <p>(e) Fees once paid will not be refunded (If you wish to register as a paid member). Wedlinematrimony.com will not be held liable for any loss or damage for non-compliance. In addition, you understand and agree that the content
                                of all users, including your content, will be collected, aggregated and anonymously integrated into the wedlinematrimony.com service and that Wedlinematrimony.com will use aggregated data collected from you and other users
                                for statistical and analytical reporting purposes. You understand, and agree that, unless expressly stated, Wedlinematrimony.com in no way controls, verifies, or endorses any of the information contained on or in the Wedlinematrimony.com
                                service, including links, events, messages, message boards and members published listings.</p>
                        </li>
                        <li>
                            <p>(f) Divorced Candidates who seek new alliance by registering with wedlinematrimony.com should submit their non objection certificate issued by Church or Court of Law within 10 days of their registration, failing which their
                                registration will be withheld without any information to the candidate.</p>
                        </li>
                        <li>
                            <p>(g) After the receipt of an id & Password by the candidate for their created profile either as a Free Member or a Paid member, to change their Date of Birth they should submit their age proof certificate to do so.</p>
                        </li>
                        <li>
                            <p>(h) All profiles, Free or Paid will be activated only after the confirmation of the submitted details by their parents / reference person/ candidate himself through the given telephone numbers.</p>
                        </li>
                        <li>
                            <p>(i)Once you register with Wedlinematrimony.com, from then, you will be getting promotional e-mails which bring the current events and functions held at Wedlinematrimony.com for your kind information. If you do not like to receive
                                these e-mails information's kindly unsubscribe by clicking the 'unsubscribe' link given in your recieved mail.</p>
                        </li>
                        <li>
                            <p>(j) All details pertaining to a profile will be totally deleted after a period of 90 days from its expiry.</p>
                        </li>
                        <li>
                            <p>(k) All paid registrations are valid for one year/six months,or till the marriage is fixed, whichever comes first,according to the membership taken. Re-registration of these members has to be done within 30 days from its expiry.
                                Exceeding 30 days, it will be treated as new registration only.</p>
                        </li>
                        <li>
                            <p>(l) Candidates should collect back their photographs given to display in the Website,with-in 30 days after the expiry of their registration period. These data's will be destroyed at our end after the said period.</p>
                        </li>
                        <li>
                            <p>(m)Wedlinematrimony.com involves directly in the matchmaking process of our paid candidates.</p>
                        </li>
                        <li>
                            <p>(n)All Profiles will be deleted immediately after the confirmation of their marriage through their parents / family circle / reference persons etc.</p>
                        </li>
                        <li>
                            <p>(o)Any change in the profile given date of birth or educational qualification will be made only after submitting the required proof by the concern person.</p>
                        </li>
                        <li>
                            <p>(p) If an online payment is done on a Sunday or a statutory holiday, the profile will be activated on next working day only. (Working hours 10.00am to 5.00 pm IST).</p>
                        </li>
                        <li>
                            <p>(q) Wedlinematrimony.com/ Wedline Family Welfare Centre will not be responsible for any issues arise for a Wedline registered candidate while communicating through his/her personal communication media like whatsapp , Facebook,
                                personal e-mail id's etc.</p>
                        </li>
                        <li>
                            <p>(r) You are requested to provide your personal Mobile number while registering your profile which will be registered for the purpose of feature official verification and communication.</p>
                        </li>
                        <li>
                            <p>(s)Wedlinematrimony.com reserves the right to forthwith terminate your membership or your right to use the service without any refund to you of any of your unutilized subscription fee.</p>
                        </li>
                    </ul>
                    <p>You may terminate your membership at any time, for any reason by writing to Wedlinematrimony.com. In the event you terminate your membership, you will not be entitled to a refund of any unutilized subscription fees, if any, paid by
                        you, except where otherwise stated in writing. Wedlinematrimony.com may terminate your access to the site and/or your membership for any reason effective upon sending notice to you at the email address as provided you in your application
                        for membership or such other email address as you may later provided to wedlinematrimony.com. If wedlinematrimony.com terminates your membership for breach of terms of this agreement, you will not be entitled to any refund of any
                        unused subscription fees, if any, paid by you. Term for the paid Membership would be in accordance with the type of membership undertaken. Multiple profiles of the same person are not allowed on wedlinematrimony.com. wedlinematrimony.com
                        reserves the right to deactivate all multiple profiles without any refund of subscription fees. Wedlinematrimony.com owns and retains all proprietary rights in the wedlinematrimony.com site and the wedlinematrimony.com Service.
                        The site contains the copyrighted material, trademarks, and other proprietary information of wedlinematrimony.com, and its licensors. Except for that information which is in the public domain such as member profile or for which
                        permission has been obtained from the user, you cannot copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary information. Any such act or an attempted act on your part shall constitute a violation
                        of this agreement and your membership is liable to be terminated forthwith by Wedlinematrimony.com without refund of any of your unused subscription fees. We also reserve our right to take legal action (civil and/or criminal) wherever
                        applicable for any violations. Under no circumstances wedlinematrimony.com will be liable in any way for any content, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred
                        as a result of the use of any content posted, emailed, transmitted or otherwise made available via the service. Wedlinematrimony.com reserves the right to verify the authenticity of content posted on the site. In exercising this
                        right, wedlinematrimony.com may ask you to provide any documentary or other form of evidence supporting the content you post on the site. If you fail to produce such evidence, wedlinematrimony.com may, in its sole discretion, terminate
                        your membership without a refund. wedlinematrimony.com will investigate and take appropriate legal action in its sole discretion against anyone who violates this agreement, including without limitation, removing the offending communication
                        / Content from the service and terminating the membership of such violators without a refund.
                    </p>
                    <h6 class="text-dark">2. Registration Process</h6>
                    <p>Although registration is not required to use the Service, if you decide to register for the service, you must complete the wedlinematrimony.com registration screen. As part of the registration process for the service, you agree to:</p>
                    <ul class="list-style-none">
                        <li>
                            <p>a) provide certain limited information about you as prompted to do so by the service (such information to be current, complete and accurate) and</p>
                        </li>
                        <li>
                            <p>(b) maintain and update this information as required to keep it current, complete and accurate. The information requested upon original sign up shall be referred to as registration data ("Registration Data"). wedlinematrimony.com
                                reserves the right to delete accounts created by users who appropriate the name, likeness, email address, or other personally identifiable information of another individual. wedlinematrimony.com reserves the right to refuse
                                the Service to any user.</p>
                        </li>
                    </ul>
                    <h6 class="text-dark">3. Copyrights and Trademarks</h6>
                    <p>The wedlinematrimony.com logo and other names, logos, icons and marks identifying wedlinematrimony.com products and services are trademarks of wedlinematrimony.com and may not be used without the prior written permission of wedlinematrimony.com.
                        Except as otherwise expressly set forth in this agreement, you may not copy, reproduce, distribute, or create derivative works of the service without wedlinematrimony.com's written authorization. Further, you may not reverse engineer,
                        decompile, alter, modify, disassemble, or otherwise attempt to derive source code from the service. All rights not expressly granted in this Agreement are reserved to wedlinematrimony.com you shall not remove, cover or obscure
                        any trademark, copyright and other proprietary notices or legends included on the service. You understand and agree that any uploading or posting will be at your sole risk and wedlinematrimony.com shall not be responsible to you
                        (or to others) in any way. Further, wedlinematrimony.com does not provide any warranty as to your use of any third party content or software that you obtain from the wedlinematrimony.com site.</p>
                    <h6 class="text-dark">4. User Conduct</h6>
                    <p>You agree to act responsibly and to treat other users and members with respect. Wedlinematrimony.com members are also expected to act in a manner appropriate to each wedlinematrimony.com in which they participate.You are allowed to
                        view the contact details of profiles which matches your age criteria.There is a limit to the number of profiles you are allowed to contact each day (24 Hours). Free membership is valid only for a limited period only.wedlinematrimony.com
                        reserves the right to provide this feature to its members.</p>
                    <h6 class="text-dark">5. Content</h6>
                    <p>You are fully responsible for any content you post on the wedlinematrimony.com service, including, but not limited to, personal profile(s), message boards, listings, events, testimonials, e-mail messages - and the consequences of any
                        such content. You understand and agree that wedlinematrimony.com may review from time to time and delete any content that violates this agreement or which might be offensive, illegal, or harm the safety of or violate the rights
                        of other users and members. Wedlinematrimony now emphasizes the total quality management- a commitment to quality as a crucial business goal for an entire organization which is vital to develop high-quality services in order to
                        attract new clients as well as to maintain quality over the long term.
                    </p>
                    <p>Is unlawful, harassing, libelous, abusive, threatening, harmful, bigoted, racially offensive, obscene or otherwise objectionable.</p>
                    <p>Encourages conduct that could constitute a criminal offense, gives rise to civil liability or otherwise violate any applicable local, state, national or international law or regulation.</p>
                    <p>Transmits or posts any unsolicited or unauthorized advertising, "spam," junk mail, "chain letters," "pyramid schemes," etc.</p>
                    <p>Transmits or posts any content that infringes upon patents, trademarks, trade secrets, copyrights or other proprietary rights.</p>
                    <p>Transmits or posts any viruses or material designed to disrupt, limit or destroy any functionality of any computer software or hardware of users, members or the wedlinematrimony.com service.</p>
                    <p>Collects, stores or solicits information about other users or members for commercial or unlawful purposes or engage in commercial activity such as contests, sweepstakes, etc. without wedlinematrimony.com prior consent.</p>
                    <p>Contains personally identifiable information about another member that is published without their express consent.</p>
                    <p>Advertises any illegal services or the sale of any items prohibited or restricted by applicable law.</p>
                    <p>Has misleading email addresses or other manipulated identifiers to disguise its origin</p>
                    <ul class="list-style-none">
                        <li>
                            <p>1. Monitoring of Information<br> We reserve the right to monitor all messages to ensure that they conform to the above stated content guidelines.
                            </p>
                        </li>
                        <li>
                            <p>2. Links To Third Party Sites<br> Any links included within wedlinematrimony.com that take users out of the wedlinematrimony.com site are not under the control of wedlinematrimony.com and wedlinematrimony.com shall not be responsible
                                for the content of any linked site or any link contained in a linked site. All such sites shall be subject to the policies and procedures of the owner of such site. We encourage you to read those policies and know your
                                rights.
                            </p>
                        </li>
                        <li>
                            <p>3. Transactions with Organizations or Individuals<br> Wedlinematrimony.com shall not be liable for your interactions with any organizations and/or individuals found on or through the wedlinematrimony.com service. This includes,
                                but is not limited to, payment and delivery of goods and services, and any other terms, conditions, warranties or representations associated with such dealings. These dealings are solely between you and such organizations
                                and/or individuals. You agree that wedlinematrimony.com is not responsible for any damage or loss incurred as a result of any such dealings. Wedlinematrimony.com is under no obligation to become involved in disputes between
                                participants on the site, or between participants on the site and any third party. In the event of a dispute, you release wedlinematrimony.com, its officers, employees, agents and successors in rights from claims, damages
                                and demands of every kind, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and our service. Wedline Family Welfare Centre do not recommend or approve
                                of any kind of gift /dowry system for the candidates registered with this orginzation. Wedline Family Welfare Centre /wedlinematrimony.com do not accept any commission or brokerage from the candidates for matchmaking. Only
                                the approved and website displayed tariff for registrations are accepted
                            </p>
                        </li>
                        <li>
                            <p>4. Privacy and use of Information<br> By using the services you acknowledge that (a) we cannot ensure the security privacy of information you provide through the Internet and your email messages, and you release us from any
                                and all liability in connection with the use of such information by other parties; (b) we are not responsible for, and cannot control, the use by others of any information which you provide to them and you should use caution
                                in selecting the personal information you provide to others through the Service; and (c) we cannot assume any responsibility for the content of messages sent by other users of the Service, and you release us from any and
                                all liability in connection with the contents of any communications you may receive from other users. We cannot guarantee, and assume no responsibility for verifying, the accuracy of the information provided by other users
                                of the Service regarding particulars of status,age,income of other members. your membership is only for personal use. It is not to be assigned, transferred or licensed so as to be used by any other person/entity. (d) members
                                profile(s) and photos may be crawled and indexed by search engines, where wedlinematrimony.com does not have any control over the search engines behavior and wedlinematrimony.com shall not be responsible for such activities
                                of other search engines.
                                <br>wedlinematrimony.com has the right to change its features and services from time to time based on members comments or as a result of a change of policy in our company.
                            </p>
                        </li>
                    </ul>
                    <h6 class="text-dark">6. Termination</h6>
                    <ul class="list-style-none">
                        <li>
                            <p>a) Wedlinematrimony.com reserves the right to refuse membership to anyone. Wedlinematrimony.com may terminate your membership and any all information, communications or postings, at any time, without notice, for conduct that
                                violates this Agreement.</p>
                        </li>
                        <li>
                            <p>b) Wedlinematrimony.com can terminate your membership without any notice for conduct that violates this agreement.</p>
                        </li>
                        <li>
                            <p>c) If we find duplicate profiles then we have the right to suspend any of the profile or all of the profile.</p>
                        </li>
                        <li>
                            <p>d) Any unethical messages, telephonic calls or any other such misbehavior by a wedlinematrimony.com registered candidates or by their families to a fellow registered candidates or to their family will lead immediate termination
                                of their profiles without any prior information.</p>
                        </li>
                    </ul>
                    <h6 class="text-dark">7. Disclaimer of Warranties</h6>
                    <p>You expressly agree that use of the services and/or any graphics or other content you download from the wedlinematrimony.com site is at your sole risk and that you will be solely responsible for any damage to your computer system or
                        loss of data that results from the download of files, software, services and/or any graphics or other content. the services and/or any graphics or other content you download from the wedlinematrimony.com site are provided on an
                        "as is" basis. </p>
                    <p>wedlinematrimony.com, its licensors and suppliers expressly disclaim all warranties of any kind, whether express, implied, statutory or otherwise, including, but not limited to the implied warranties of merchantability, fitness for
                        a particular purpose and non-infringement. neither wedlinematrimony.com, nor its licensors or suppliers make any warranty that the software, services and/or any graphics or other content you download from the wedlinematrimony.com
                        site will meet your requirements, or that the software or service will be uninterrupted, timely, secure, or error free; nor does wedlinematrimony.com, its licensors or suppliers make any warranty as to the results that may be obtained
                        from the use of the service or as to the accuracy or reliability of any information obtained through the service or that defects in the software will be corrected.</p>
                    <h6 class="text-dark">8. Limitation of liability</h6>
                    <p>In no event shall wedlinematrimony.com, its licensors or suppliers be liable to you or any third party for any indirect, incidental, special or consequential damages, resulting from the use or the inability to use the software, service,
                        and/or any graphics or other content, including but not limited to, damages for loss of profits, even if wedlinematrimony.com has been advised of the possibility of such damages. Further wedlinematrimony.com shall have no liability
                        to you or other third parties for any third party content uploaded onto or downloaded from the service. Some jurisdictions do not allow the limitation or exclusion of liability for incidental or consequential damages so some of
                        the above limitations may not apply to you.</p>
                    <h6 class="text-dark">9. Indemnity</h6>
                    <p>You hereby agree, at your expense, to indemnify, defend and hold wedlinematrimony.com harmless from and against any loss, cost, damages, liability, and/or expense arising out of or relating to (a) third party claims, actions or allegations
                        of infringement based on information, data or content you submitted in connection with the service, (b) any fraud or manipulation, or other breach of this agreement, by you, or (c) third party claims, actions or allegations brought
                        against wedlinematrimony.com arising out of your use of the service or software.</p>
                    <h6 class="text-dark">10. General Terms</h6>
                    <p>This agreement is governed in all respects by the laws of the Union of India and local state laws, rules and regulations and any dispute arising hereunder shall be subjected to the jurisdiction of District Court Kannur and you consent
                        to the exclusive jurisdiction of the Court. If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced.Wedlinematrimony.com failure to
                        act with respect to a breach by you does not waive wedlinematrimony.com right to act with respect to subsequent or similar breaches. You may not assign or transfer this Agreement or any rights hereunder, and any attempt to the
                        contrary is void. This Agreement shall inure to the benefit of and be binding upon each party's successors and assigns. wedlinematrimony.com shall not be liable for any delay or failure to perform resulting directly or indirectly
                        from any causes beyond Wedlinematrimony.com's reasonable control. Any notice required or given to you under this Agreement shall be delivered by electronic mail at the e-mail address provided by you during registration.</p>
                    <h6 class="text-dark">11. Special Admonitions for International use Top</h6>
                    <p>As a consequence of the global nature of the Internet, you agree to comply with all local rules regarding user conduct on the Internet and acceptable content. This Agreement constitutes the complete and exclusive understanding and
                        agreement of the parties relating to the subject matter hereof and supersedes all prior understandings, proposals, agreements, negotiations, and discussions between the parties, whether written or oral. You understand and agree
                        that you are solely responsible for reviewing the terms of this Agreement from time to time. Any continued use of the Software or Service by you after such amended terms have been posted or information regarding such amendment
                        has been sent to you, shall be deemed your consent and agreement to such amended terms.</p>
                    <h6 class="text-dark">12. Grievance Officer</h6>
                    <p>As a Wedline Family Welfare Centre/wedlinematrimony.com registered candidate if you have any grievance regarding the service, etc.you can contact the Grievance Officer</p>
                    <p class="text-dark">Mr.Siju Joseph</p>
                    <p>Wedline Matrimony,<br> Thattaparambil Shopping Complex,<br> 1st floor, Near South Indian Bank,<br> Mele Bazar, Cherupuzha<br> Kannur
                    </p>
                    <a href="tel:+914985242133">+91 49 852 42133</a><br>
                    <a href="tel:+919495778448">+91 9495778448</a>
                </div>
            </div>
        </section>
    </div>
</div>