.home2-sucess-stories-section .top-content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.home2-sucess-stories-section .title {
    font-size: 16px;
    line-height: 2;
}

.home2-sucess-stories-section img {
    border-radius: 20px;
}